/*========== sidebare  ========== */
*{
  font-family:"poppind",sans-serif;
  box-sizing: border-box;
}
body{
  background-color: rgb(229, 226, 221);
}
.sidbar{
  width: 80.2px;
  background-color: rgb(98, 98, 164);
  color: white;
  height: 664px;
  position: sticky;
  transition: all 0.Ts linear;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.sidbar:hover{
  width:222px ;
  transition: 0.5s;
  height: 664px;
}
.menu{
  list-style-type: none;
  padding-top: 90px;
  font-size: 10;
  height: 100%;
  margin-left: -13px; 
}
.menu li{
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 180px;
  transition: all 0.5s ease-in-out;
  /* height: 88%; */
}
.menu li:hover{
  background-color: #e0e0e058;
}

.AlinkD {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  
}
.iconeDashbord {
  font-size: 27px;
  font-weight: bolder;
  border-radius: 8px;
  
}
.LOGOUT{
  position: absolute;
  bottom: 0;
}

/* .menu  Link .span {
  overflow: hidden;
} */

/*========== top bare  ========== */
.topbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background: #fff;
   border-radius: 10px;
   padding-bottom:7px ;
   height: 68px;
  
}
.divA{
  padding-top: 15px;
  padding-right: 20px;
}
.logoA{
  float: left;
  color:  rgb(98, 98, 164);
  margin-left: 30px;
  margin-top: -15px;
}
.logoA p{
  font-size: 15px;
  margin-bottom: 2px;
}
.logoA h4{
  font-weight: bold;
}
.searchdiv{
  margin-right: 30px;
  float: left;
}
.searchdiv form{
  float: left;
}
.searchdiv input{
  border: 1px rgb(229, 226, 221);
  padding-left: 40px;
  height: 45px;
  background-color: rgb(229, 226, 221);
  border-radius: 12px;
  position: relative;
  margin-right: 20px;
  width: 190px;
}
.searchdiv input:focus {
  outline: none;  
}
.searchdiv input::placeholder{
  margin-left: 70px;
}
.iconesearch{
  position: absolute;
  z-index: 1;
  margin-left: 8px;
  margin-top: 5px;
  font-size: 20px;
  border: rgb(229, 226, 221) ;
  background:none;
}
.iconesearch:hover{
  margin-left: 6px;
  margin-top: 0px;
  font-size: 25px;
}
.imgprofile{
  height: 45px;
  width: 45px;
  border-radius: 60px;
  background-color: blue;
}

.header{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content:left;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding-bottom:5px ;
  margin-top: 10px;
  justify-content: center;
  margin-right: 2px;
}
.formEMp{
  width: 500px;
}
.pHES{
  margin-top: 20px;
  font-weight: bold;
}
.divH1{
  background-color: rgb(255, 231, 255);
  margin-left: 10px;
  margin-top: 10 ;
  float: left;
  width: 270px;
  padding:20px;
  padding-top:25px;
  border-radius: 10px;
  height: 130px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.ensemDiv{
  margin-left: 20px;
}
.iconeDat{
  position: absolute;
  font-size: 30px;

}
.picone{
  background-color: orangered;
  border-Radius:50px;
  margin-top: -120px;
  margin-left: 180px;
  padding: 10px;
  color:white ; 
  height:50px;
  width:50px;
}


/* table a */
.tabHAcceuil{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  padding-bottom:1px ;
  margin-right: 20px;
  margin-top: 10px;

}
.tabH{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  padding-bottom:5px ;
  margin-top: 10px;
  margin-right: 20px; 
  overflow: auto;
}
  

.pT{
  margin-top: 10px;
  margin-left: 30px;
  font-weight: bold;
  float: left;
}

table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  width: 95%;
  margin-left: 30px;
 margin-bottom: 40px;
 
}
table td, th{
  padding: 0.4rem 0.8rem;
  
}
table th {
  font-size: 15px;
  background-color: rgb(98, 98, 164) ;
  color: white;
}
table td{
  font-size: 13px;
  color: #044a49;
  /* width: 95px; */
}
table tr:first-child,
table tr:nth-child(2),
table tr:nth-child(4),
table tr:nth-child(6) {
            background-color: rgb(238, 225, 227); /* Couleur de fond rose pour les cellules spécifiées */
        }
table tr:last-child{
  color: white;
  font-size: 15px;
}
.icontelecharger{
  margin-bottom: 4px;
  margin-right: 80px;
}

.large-delete-icon{
  margin-right: 100%;
}
.large-delete-icon:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
.modifier {
  
  background-color: rgb(241, 206, 77);
  color: white;
  border: 1px;
  border-radius: 7px;
  font-weight: bold;
  width: 50px;
  
  height: 30px;
}
.modifier:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
.telecharger {
  padding: 5px 15px;
  background-color: rgb(98, 98, 164);
  color: white;
  border: 1px;
  border-radius: 7px;
  font-weight: bold;
  width: 50px;
 margin-left: 90%;
  height: 30px;
}
.telecharger:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }



/* styles formulaire */


.header form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.header input[type="text"] {
  margin: 0 6px 8px 0; /* Marge entre les champs de texte */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.header input[type="text"]::placeholder {
  color: #999;
}

.formEMp select{
  margin: 0 6px 8px 0; /* Marge entre les champs de texte */
  padding: 9px;
  padding-top: 8px;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 215px;
  color: #999;
  text-align: center;
}
.formEMp select:focus {
  outline: none;
  border-color: #007bff;
}


.header input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header input[type="submit"]:hover {
  background-color: #0056b3;
}

.tr3{
  margin-top: 7%;
}
.buttonfo{
color: rgb(98, 98, 164) ;
  border: 1px solid  rgb(98, 98, 164) ;
 border-radius: 15px;
 width: 90px;
 height: 40px;
 margin-top: 60px;
 margin-left: 400%;
 
}
.buttonfo:hover{
  background-color: rgb(98, 98, 164);
  color: #fff;
}

/* =======style utilisateur========== */

.btndetal{
  padding: 5px 15px;
  background-color: rgb(59, 207, 66);
  color: white;
  border: 1px;
  border-radius: 7px;
  font-weight: bold;
  width: 50px;
  margin-right: -80px;
}
.btndetal:hover{
box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btnsuppe{
padding: 5px 15px;
background-color: rgb(247, 67, 31);
color: white;
border: 1px;
border-radius: 7px;
font-weight: bold;
width: 50px;
margin-right: -80px;
}
.btnsuppe:hover{
box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tableU{
background: #fff;
padding: 1rem;
text-align: left;
border-radius: 10px;
margin-right: 20px;
margin-left: 30px;
border: 1px solid rgb(210, 204, 204);
}
.tableU td, th{
height: 40px;

}
.tableU th {
font-size: 15px;
background-color: rgb(98, 98, 164) ;
color: white;
}
.tableU td{
font-size: 14px;
width: 95px;

}
table tr:first-child,
table tr:nth-child(2),
table tr:nth-child(4),
table tr:nth-child(6) {
          background-color: white;
      }
.tableU tr:last-child{
color: white;
font-size: 15px;
}
.tabHU{
justify-content: space-between;
display: flex;
flex-wrap: wrap;
align-items: center;
border-radius: 10px;
background: #fff;
margin-right: 20px;
margin-top: 10px;
overflow: auto;
}
.pTU{
margin-left: 30px;
font-weight: bold;
float: left;
}
/* =======stylePROFIL========== */
.profile-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eeee;
  width: 400px;
  height: auto; /* ajusté à "auto" pour s'adapter au contenu */
  border: 1px solid #ccc;
  border-radius: 8px  8px 0px 0px ;
  padding: 20px;
  z-index: 2;
  /* margin-top: -0px; */
  margin-left: 830px;
}

.profile-picture {
  margin-right: 20px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 19px;
}

.profile-details {
  text-align: left;
}

.profile-details h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.profile-details p {
  margin-bottom: 5px;
}

.buutonprofil {
  margin-top: 10px;
  background-color: #b8bcb8;
  color: white;
  border: 1px;
  border-radius: 7px;
  font-weight: bold;
  width: 70px;
  border: #999 1px solid;
  height: 30px;
}

.div77 {
  position: absolute;
  z-index: 2;
  left: 30; /* aligné à gauche */
  width: 100.5%; /* occupe toute la largeur du profile-container */
  background-color: #b8bcb8;
  padding: 10px;
  border-radius: 0px 0px 8px  8px;
  /* margin-left: 850px; */
  margin-top: 230px;
}
/* formulaire ajouter admin */


.containerfadmin {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.H1 {
  text-align: center;
}

.form-groupad {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.forAdmin{
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-groupad {
  margin-bottom: 20px;
}

.lbadmin {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Couleur du texte */
}

.inputAdmin {
  margin-top: 2%;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Taille de la police */
  color: #555; /* Couleur du texte */
  margin-left: 5%;
}

.inputAdmin:focus {
  outline: none;
  border-color: #007bff; /* Couleur de la bordure lorsqu'il est focus */
}
.linadmin{
  margin-left: 40%;
}


.buutadmin {
  background-color: #007bff; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Ar!rondi des coins */
  cursor: pointer; /* Curseur au survol */
  margin-left: 77%;
  margin-bottom: 2px;
}

.buutadmin:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

/* ================= style detail emplacement =================== */

.divdetailEmplacement{
  height: 300px;
  width: 450px;
  background-color: #797272;
  position: absolute;
  border-radius: 20px;
  margin-left: -250px;
  margin-top: 100px;
  color: white;
  opacity:1;
  z-index: 2;
  padding-left: 100px;
  /* margin-top: -400px; */
  position: fixed;
}
.hjg{
  margin-top: 80px;
}
/* .divbalck{
  margin-top: -550px;
  margin-left: 100px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgb(165, 13, 13);
  height: 535px;
  position: absolute;
  z-index: 4;
  opacity: 0.7;
} */
.iconeannuler{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.iconeANULmodel{
  position: absolute;
  margin-left: -25px;
  margin-top: 12px;
  color: #727272;
}

.contEmpl{
  overflow-y: scroll; 
  max-height: 560px;
  border-radius: 20px;
  margin-top: 10px;
  
}
.contTableuaccui{
  overflow:hidden;
  /* width: 100%; */
}
.overFlo{
  overflow: auto;
  width: 95%;
}
.scrole{
  margin-top: -40px;
  overflow-y: scroll; 
  max-height: 630px;
  border-radius: 5px;
  margin-top: 10px;
}
@media screen and (min-width:980px) and (max-width:1200px) {
  /* .topbar{
    background-color: #007bff;
  } */
  .profile-container{
    margin-left: 600px;
  }
  .divH1{
    width: 250px;
  }
  .ensemDiv{
    margin-left: -10px;
  }
  .formEMp td input,
  .formEMp td select {
    width: 150px;
    margin-bottom: 5px; 
  }
  .formEMp input::placeholder {
    font-size: 12px;
  }
  .formEMp select {
    font-size: 12px;
  }
  .trtr3button3{
    margin-left: -280px;
  }
  .header{
    margin-right: 20px;
  }
}
@media screen and (min-width:770px) and (max-width:980px) {
  .topbar{
    /* background-color: #007bff; */
    margin-top: -10px;
  }
  
  .profile-container{
    margin-left: 290px;
  }
  .sidbar{
    margin-top: -20px;
  }
  .divH1{
    width: 260px;
    justify-content: center;
  }
  .scrole{
    margin-top: -40px;
    overflow-y: scroll; 
    max-height: 630px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .header{
    padding-left: 50px;
    margin-right: 20px;
    overflow: auto;
  }
  .formEMp{
    margin-left: -20px;
  }
  .formEMp td input,
  .formEMp td select {
    width: 150px;
    margin-bottom: 5px; 
  }
  .formEMp input::placeholder {
    font-size: 12px;
  }
  .formEMp select {
    font-size: 12px;
  }
  .trtr3button3{
    margin-left: -280px;
  }
  
  

}
@media screen and (min-width:581px) and (max-width:768px) {
  .topbar{
    /* background-color: #007bff; */
    margin-top: -10px;
  }
  .classname{
    margin-left:-100px ;
  }
  .profile-container{
    margin-left:170px;
  }
  .divdetailEmplacement{
    width: 350px;
    padding-left: 100px;
    margin-left: -180px;
  }
  
  .sidbar{
    margin-top: -20px;
  }
  .divH1{
    width: 260px;
    height: 120px;
    font-size: 15px;
    justify-content: center;
  }
  .scrole{
    margin-top: -40px;
    overflow-y: scroll; 
    max-height: 630px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .header{
    padding-left: 80px;
    align-items: center;
    overflow: auto;
  }
  .logoA p{
    font-size: 13px;
    margin-bottom: 2px;
  }
  .logoA h4{
    font-weight: bold;
    font-size: 18px;
  }
  .searchdiv{
    margin-top: 10px;
  }
  .searchdiv input{
    border: 1px rgb(229, 226, 221);
    padding-left: 40px;
    height: 40px;
    background-color: rgb(229, 226, 221);
    border-radius: 12px;
    position: relative;
    margin-right: 20px;
    width: 170px;
  }
  .iconesearch{
    font-size: 19px;
  }
  .iconesearch:hover{
    font-size: 22px;
  }
  .formEMp{
    margin-left: -20px;
  }
  
  .formEMp tr {
    display: block; 
    margin-bottom: 10px; 
  }
  .formEMp td {
      display: block; 
      width: 100%; 
      margin-bottom: 10px; 
    }
    .formEMp td input,
    .formEMp td select {
      width: 90%; 
      margin-bottom: 5px; 
    }
    .trtr3button3 {
      margin-top: 200px;
      margin-left: -210px;
    }
    .trtr3button3 td{
      display: inline;
      /* margin-left: -10px; */
    }
    .buttonfo{
      margin-left: 0px;
      margin-bottom: -55px;
    }
    .searchdiv{
      margin-top: 10px;
      margin-right: 5px;
    }
    .searchdiv input{
      border: 1px rgb(229, 226, 221);
      padding-left: 40px;
      height: 40px;
      background-color: rgb(229, 226, 221);
      border-radius: 12px;
      position: relative;
      margin-right: 20px;
      width: 110px;
    }
    .searchdiv input::placeholder{
      font-size: 14px;
      position: absolute;
      margin-left: -1px;
    }
    .imgprofile{
      margin-left: -15px;
    }
    
  

}
@media screen and (min-width:400px) and (max-width:581px) {
  .topbar{
    /* background-color: #007bff; */
    margin-top: -10px;
  }
  .divdetailEmplacement{
    width: 250px;
    padding-left: 30px;
    margin-left: -140px;
  }
  .classname{
    margin-left:-100px ;
  }
  .profile-container{
    margin-left:110px;
    width: 300px;
  }
  .sidbar{
    margin-top: -20px;
  }
  .divH1{
    width: 260px;
    height: 120px;
    font-size: 15px;
    justify-content: center;
  }
  .scrole{
    margin-top: -40px;
    overflow-y: scroll; 
    max-height: 630px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .header{
    padding-left: 19px;
    align-items: center;
  }
  .logoA p{
    margin-left: -20px;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .logoA h4{
    margin-left: -20px;
    font-weight: bold;
    font-size: 15px;
  }
  .searchdiv{
    margin-top: 10px;
    margin-right: 5px;
  }
  .searchdiv input{
    border: 1px rgb(229, 226, 221);
    padding-left: 40px;
    height: 40px;
    background-color: rgb(229, 226, 221);
    border-radius: 12px;
    position: relative;
    margin-right: 20px;
    width: 99px;
  }
  .searchdiv input::placeholder{
    font-size: 13px;
    position: absolute;
    margin-left: -1px;
  }
  .divH1{
    width:250px;
  }
  .iconesearch{
    font-size: 19px;
  }

  .iconesearch:hover{
    font-size: 22px;
  }
  .formEMp{
    margin-left: -20px;
  }
  /* .header{
    padding-left: -20px;
  } */
  
  .formEMp tr {
    display: block; 
    margin-bottom: 10px; 
  }
  .formEMp td {
      display: block; 
      width: 100%; 
      margin-left: 15px;
      margin-bottom: 10px; 
    }
    .formEMp td input,
    .formEMp td select {
      width: 90%; 
      margin-bottom: 5px; 
    }
    .trtr3button3 {
      margin-top: 200px;
      margin-left: -220px;
    }
    .trtr3button3 td{
      display: inline;
      /* margin-left: -10px; */
    }
    .buttonfo{
      margin-left: 0px;
      margin-bottom: -55px;
    }
    .sidbar:hover{
      width:150px ;
    }
    .sidbar:link{
      font-size: 12px;
    }
    .sidbar .iconeDashbord {
      font-size: 26px;
      /* width:150px ; */
    }
    .header{
      overflow: auto;
    }


}











